{% extends 'base.jinja2' %}

{% block subtitle %}Add Donation{% endblock subtitle %}

{% block content %}

<form action="{{ url_for('add_donation') }}" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  Amount:<br>
  <input type="text" name="amount">
  <input type="submit" value="Submit">
</form>

{% endblock content %}
