{% extends 'base.jinja2' %}


{% block subtitle %}Current Donations{% endblock subtitle %}

{% block content %}
<h2>Filter by:</h2>

<ul>
    {% for donation in donations %}
        <li><b>{{ donation.donor.name }}</b>: {{ donation.value }}</li>
    {% endfor %}
</ul>
{% endblock content %}
